exportPattern("^[[:alpha:]]+")
importFrom(httr,GET)
importFrom(httr,stop_for_status)
importFrom(httr,content)
importFrom(jsonlite,toJSON)
importFrom(jsonlite,fromJSON)
importFrom(tidyr,gather)
